@model ProjSala.Models.Sala

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.qtdeProdessores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.qtdeProdessores)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.qtdeAlunos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.qtdeAlunos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
